body {
  font-family: 'Concert One', cursive;
  margin: 0;
  padding: 0;
  background-color: gray;
  display: flex;
  flex-wrap: wrap;
}

section {
  width: 50%;
  height: 100%;
  margin: 0;
  border: 1px solid black;
}

#left_top {
  color: #49ec13;
  background-color: black;
  flex-basis: 100%;
}


/* WILL ADD LATER */
/*#right_top {
  background-color: #49ec13;
}

#left_bottom {
  background-color: black;
}*/

#right_bottom {
  background-color: #2beeee;
  flex-basis: 100%;
}

img {
  display: block;
}

section h1 {
  text-align: center;
}

.profile_pic {
  margin: auto;
  margin-top: 125px;
  margin-bottom: 125px;
  border: 3px solid black;
  border-radius: 150px;
}

#left_top .profile_pic {
  border: 3px solid #49ec13;
}

.total_mileage {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 25%;
  border: 3px solid #49ec13;
  border-radius: 25px;
  background-color: #49ec13;
  color: black;
}

.right_profile .total_mileage {
  border: 3px solid black;
  background-color: black;
  color: #2beeee;
}
